

// 移动端设备物理像素是设备像素的两倍
// 解决方案：在该元素后面添加一个伪类:after，并把它设置成一条线，然后在base.js设置.border-1px样式，通过检测不同设备的dpi来做不同的缩放
border-1px($color)
  position: relative
  &:after
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    border-top: 1px solid $color
    content: ' '

// 如果是需要在元素前面添加1px的线，则只要把伪类设在前面，并且定位到元素顶部    
// border-top-1px($color)
//   position: relative
//   &:before
//     display: block
//     position:absolute
//     left: 0
//     top: 0
//     width: 100%
//     border-top: 1px solid $color
//     content: ' '

border-none()
  &:after
    display: none

bg-image($url)
  background-image: url($url + "@2x.png")
  @media(-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
    background-image: url($url + "@3x.png")
